<a class="btn right green" ng-click="loadNewPostDialog()">Add</a>
<table class="bordered striped" ng-init="getPosts()">
	<thead>
		<tr>
			<th>ID</th>
			<th>Title</th>
			<th>Content</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="p in post_list">
			<td>{{p.id}}</td>
			<td>{{p.title}}</td>
			<td ng-bind-html="to_trusted(p.content)"></td>
			<td><a class="btn green" ng-click="loadPostEdit(p)">Edit</a> <a
				class="btn red" ng-click="deletePost(p.id, $index)">Delete</a></td>
		</tr>
	</tbody>
</table>
<div id="editPost" class="modal modal-fixed-footer">
	<form ng-submit="updatePost(single_post)">
		<div class="modal-content">
			<h4>Edit Post</h4>
			<div class="row">
				<div class="input-field col s12">
					<input name="title" id="post_title" type="text" class="validate"
						ng-model="single_post.title"> <label class="active"
						for="post_title">Title</label>
				</div>
				<div class="input-field col s12">
					<textarea id="post_content" ng-model="single_post.content"
						ui-tinymce=""></textarea>
				</div>
				<center></center>

			</div>

		</div>
		<div class="modal-footer">
			<input type="submit" value="Update"
				class="modal-action modal-close waves-effect waves-green btn green">
		</div>
	</form>
</div>

<div id="newPost" class="modal modal-fixed-footer">
	<form ng-submit="createPost(new_post)">
		<div class="modal-content">
			<h4>New Post</h4>
			<div class="row">
				<div class="input-field col s12">
					<input name="title" id="post_title" type="text" class="validate"
						ng-model="new_post.title" required> <label class="active"
						for="post_title">Title</label>
				</div>
				<div class="input-field col s12">
					<textarea id="post_content" ng-model="new_post.content"
						ui-tinymce="" required></textarea>
				</div>

			</div>

		</div>
		<div class="modal-footer">
			<input type="submit" value="Submit"
				class="modal-action modal-close waves-effect waves-green btn green">
		</div>
	</form>
</div>